/* Estilos generales */
body {
	background-color: #f7f7f7;
	font-family: Arial, sans-serif;
	font-size: 16px;
  }
  
  .container {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
  }
  
  header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	background-image: url("./images/midistraccion.jpg");
	background-size: cover;
	background-position: center;
	height: 400px;
  }
  
  h1 {
	font-size: 28px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px #333;
	margin: 0;
  }
  
  nav ul {
	list-style: none;
	display: flex;
  }
  
  nav li:not(:last-child) {
	margin-right: 20px;
  }
  
  nav a {
	color: #333;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
  }
  
  main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  article {
	width: calc(50% - 10px);
	margin-bottom: 20px;
  }
  
  article h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  article p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 10px;
  }
  
  a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
  }
  
  a:hover {
	text-decoration: underline;
  }
  
  footer {
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
	color: #999;
  }
  